.App {
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom right, #3F3A39, #2F2A29);
}

input {
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

button {
    padding: 0.5rem 2rem;
    font-size: 1.2em;
    border-radius: 0.5rem;
    border: none;
    background: linear-gradient(to bottom right, hotpink, rebeccapurple);
    color: white;
    box-shadow: 1px 1.2px 3.6px rgba(0, 0, 0, 0.024),
    2.6px 3.4px 10px rgba(0, 0, 0, 0.035),
    6.3px 8.1px 24.1px rgba(0, 0, 0, 0.046),
    21px 27px 80px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

input:focus-visible,
button:focus-visible {
    outline-color: hotpink;
}

button:hover,
button:focus {
    background: linear-gradient(to bottom right, deeppink, darkviolet);
}

button:active {
    background: deeppink;
}
